<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FormCadastro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FormCadastro.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <style>
        .modal{
            width: 300px;
        }
        .modal-content{
            width: 300px;
        }
        .list-group-item:link{
            text-decoration: none;
            
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:link {
            text-decoration: none;
            color:black;
        }
        a:hover {
            text-decoration: none;
            color: black;
        }

        .close-sidebar{
            font-size: 30px;
        }
        </style>
</head>
<body>
    <header>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><a class="sidebar-title" asp-area="" asp-controller="Home" asp-action="Index">FormCadastro</a></h5>
                        <button type="button" class="no-border close-sidebar" clss data-bs-dismiss="modal"><i class='bx bx-x'></i></button>
                    </div>
                    <div class="modal-body">                        
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Cadastro" asp-action="Index">Cadastros</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Cadastro" asp-action="Create">Novo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> </a>
                    </li>
                </ul>
                <a class="nav-link text-dark justify-content-end" asp-area="" asp-controller="Home" asp-action="Logout" id="btn-logout">Sair</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FormCadastro - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
