html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#Con {
    opacity: 0;
    animation: showMe .75s forwards;
}
#Dependente {
    opacity: 0;
    animation: showMe .75s forwards;
}
#NEC_ESP_DESCR {
    opacity: 0;
    animation: showMe .75s forwards;
}
#NESC_ESP_CON {
    opacity: 0;
    animation: showMe .75s forwards;
}

@keyframes showMe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-bottom: 10px;
    vertical-align: bottom;
    animation: showMe .75s forwards;
}

    .input-group > .form-control,
    .input-group-append > .btn {
        flex: 1 1 auto;
    }

.input-group-append {
    margin-left: -1px;
}

    .input-group-append > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

.button-group {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}
.button-group button {
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

.no-border {
    padding: 0;
    border: none;
    background: none;
}